@model CardiologicClinic_WebApp.Models.Visit

@{
    ViewData["Title"] = "Usuń wizytę";
}

<h2>Usuń wizytę</h2>

<h3>Czy jesteś pewien, że chcesz usunąć wizytę?</h3>
<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPatient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPatient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDoctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDoctor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="Index">Powrót do listy wizyt</a>
    </form>
</div>
