@model CardiologicClinic_WebApp.Models.Visit

@{
    ViewData["Title"] = "Szczegóły wizyty";
}

<h2>Szczegóły</h2>

<div>
    <h4>Wizyta:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPatient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPatient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDoctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDoctor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitNote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edycja</a> |
    <a asp-action="Index">Powrót do listy wizyt</a>
</div>
