@model CardiologicClinic_WebApp.Models.Visit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPatient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPatient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDoctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDoctor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VisitName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VisitName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
