@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using CardiologicClinic_WebApp.Models;
@using CardiologicClinic_WebApp.Controllers;
@{
    UserCntroller role = new UserCntroller();
    var user = await UserManager.GetUserAsync(User);
}
<style>
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:focus,
    .nav-pills > li.active > a:hover {
        background-color: #222222;
    }
</style>
<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index"><i class="fa fa-user"></i> Profil</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./PersonalData"><i class="fa fa-database"></i> Dane osobowe</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword"><i class="fa fa-lock"></i> Hasło</a></li>
    <li class="@ManageNavPages.AppointmentCalendarNavClass(ViewContext)"><a asp-page="./AppointmentCalendar"><i class="fa fa-calendar"></i> Kalendarz moich wizyt</a></li>
    @if (UserManager.IsInRoleAsync(user, "Admin").Result)
    {
        <li><a asp-page="./UserView"><i class="fa fa-shield"></i> Zarządzaj użytkownikami</a></li>
        <li class="@ManageNavPages.RaportNavClass(ViewContext)"><a asp-page="./Raports"><i class="fa fa-line-chart"></i> Raporty</a></li>
        <li class="@ManageNavPages.ModulManagementNavClass(ViewContext)"><a asp-page="./ModulManagement"><i class="fa fa-cog"></i> Zarządzanie modułem diagnostycznym</a></li>
    }
    @if (UserManager.IsInRoleAsync(user, "Doctor").Result || UserManager.IsInRoleAsync(user, "Admin").Result || UserManager.IsInRoleAsync(user, "Recepcion").Result)
    {
        <li><a asp-controller="Visits" asp-action="Index"><i class="fa fa-user-md"></i> Zarządzaj wizytami</a></li>
    }
    <li class="@ManageNavPages.NewVisitNavClass(ViewContext)"><a asp-page="./NewVisit"><i class="fa fa-plus"></i> Umów wizytę</a></li>
    <li class="@ManageNavPages.ToDownloadNavClass(ViewContext)"><a asp-page="./ToDownload"><i class="fa fa-download"></i> Do pobrania</a></li>
</ul>
