@inject SignInManager<IdentityUser> SignInManager
@using CardiologicClinic_WebApp.Controllers;
@using System.Security.Claims;
@{
    UserController role = new UserController();
}
<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">Profil</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword">Hasło</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./PersonalData">Dane osobowe</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./AppointmentCalendar">Kalendarz wizyt</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./NewVisit">Umów wizytę</a></li>
    @if (/*User.Identity.IsAuthenticated*/ role.GetUserRole(this.User/*.Identity.Name*/) == "Admin")
    {
        <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-controller="Users" asp-action="Index">Zarządzaj użytkownikami</a></li>
    }
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./ToDownload">Do pobrania</a></li>
</ul>
