@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using CardiologicClinic_WebApp.Models;
@using CardiologicClinic_WebApp.Controllers;
@{
    UserCntroller role = new UserCntroller();
    var user = await UserManager.GetUserAsync(User);
}
<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">Profil</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword">Hasło</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./PersonalData">Dane osobowe</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./AppointmentCalendar">Kalendarz wizyt</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./NewVisit">Umów wizytę</a></li>
    @if (UserManager.IsInRoleAsync(user, "Admin").Result)
    {
        <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./UserView">Zarządzaj użytkownikami</a></li>
    }
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a asp-page="./ToDownload">Do pobrania</a></li>
</ul>
