@page
@model RaportsModel
@{
    ViewData["Title"] = "Generuj raport";
}
<h3>Raporty</h3>
<hr />
<br />
@*<h4>1. Przychody z tytułu wizyt</h4>*@
<form asp-route-returnUrl="@Model.DataOd, @Model.DataDo, @Model.DataOd.Year" method="post">
    <div class="form-group">
        <div class='col-md-5' data-date-format="dd-mm-yyyy">
            <label>Od</label>
            <input asp-for="@Model.DataOd" class="form-control" type="date" />
        </div>
        <div class='col-md-5'>
            <label>Do</label>
            <input asp-for="@Model.DataDo" class="form-control" type="date" />
        </div>
        <div class='col-md-5'>
            <button type="submit" class="btn btn-default">Generuj</button>
        </div>
    </div>
</form>

<div class='col-md-7'>
    <hr />
    <p>Przychody z tytułu wizyt za wybrany okres: <b> @Model.sum zł </b></p>
    <p>Ilość odbytych wizyt w wybranym okresie: <b> @Model.qua </b></p>
    <p>Najbardziej popularny lekarz w wybranym okresie: <b> @Model.mostPopularDoctor </b></p>
    <p>Ilość odbytych wizyt u @Model.mostPopularDoctor wybranym okresie: <b> @Model.mostPopularDoctorCount </b></p>
    <hr />
</div>

<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<canvas id="bar-chart" width="850" height="450"></canvas>
<script>
    var jan = @Html.Raw(Model.jan);
    var feb = @Html.Raw(Model.feb);
    var mar = @Html.Raw(Model.mar);
    var apr = @Html.Raw(Model.apr);
    var may = @Html.Raw(Model.may);
    var jun = @Html.Raw(Model.jun);
    var jul = @Html.Raw(Model.jul);
    var aug = @Html.Raw(Model.aug);
    var sep = @Html.Raw(Model.sep);
    var oct = @Html.Raw(Model.oct);
    var nov = @Html.Raw(Model.nov);
    var dec = @Html.Raw(Model.dec);
    var year = @Html.Raw(Model.Rok);
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
            datasets: [
                {
                    label: "Przychody (zł)",
                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#0d4225", "#9cdfe6", "#39a375", "#823ebd", "#bd3e71", "#5c5a51", "#c8f542"],
                    data: [jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec]
                }
            ]
        },
        scales: {
            xAxes: [{
                stacked: false,
                beginAtZero: true,
                scaleLabel: {
                    labelString: 'Month'
                },
                ticks: {
                    stepSize: 1,
                    min: 0,
                    autoSkip: false
                }
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Raport przychodów kliniki za rok: ' + String(year)
            }
            //options: {
            //    scales: {
            //        xAxes: [{ barPercentage: 0.4 }]
            //    }
            //}
        }
    });
</script>
<form method="get">
        <div class='col-md-2'>
            Rok <input asp-for="@Model.Rok" type="number" min="1900" max="2099" step="1" @*value="@Model.Rok"*@/>
        </div>
        <div class='col-md-5'>
            <button type="submit" class="btn btn-default">Generuj wykres za wybrany rok</button>
        </div>
</form>