@page
@model CardiologicClinic_WebApp.Models.User
@{
    ViewData["Title"] = "Zarządzanie użytkownikami";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CardiologicClinic_WebApp.Areas.Identity.Services.UserService us = new CardiologicClinic_WebApp.Areas.Identity.Services.UserService();
    var ListOfUsers = us.GetListOfUsersAsync().Result;
}

<h2>Zarządzanie użytkownikami</h2>

<p><a asp-controller="Users" asp-action="Create">Stwórz nowego użytkownika</a></p>

<form>
    <div class="form-actions no-color">
        <p>
            Wyszukaj użytkownika po imieniu: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input asp-controller="Users" asp-action="Index" method="get" type="submit" value="Szukaj" class="btn btn-default" /> |
            <a asp-page="./UserView">Wróć do pełnej listy użytkowników</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                Email
            </th>
            <th>Rola</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ListOfUsers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRole)
            </td>
            <td>
                <a  asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
        }
    </tbody>
</table>
