@model CardiologicClinic_WebApp.Models.ApplicationUser

@{
    ViewData["Title"] = "Usuń konto użytkownika";
}

<h2>Usuń użytkownika</h2>

<h3>Czy jesteś pewien,że chcesz usunąć konto użytkownika?</h3>
<div>
    <h4>Użytkownik:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserRole)
        </dd>*@
        @*<dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>*@
        <dt>
          Numer telefonu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-default" href='javascript:history.go(-1)'/> |
        <a href='javascript:history.go(-1)'>Powrót do listy użytkowników</a>
    </form>
</div>
